.palette1 {
  --color1: #FAEBD7;
  --color2: #E63946;
  --color3: #F1FAEE;
  --color4: #A8DADC;
  --color5: #457B9D;
  --color6: #1D3557; }

.palette1 {
  --color1: #FAEBD7;
  --color2: #E63946;
  --color3: #F1FAEE;
  --color4: #A8DADC;
  --color5: #457B9D;
  --color6: #1D3557; }

.palette1 {
  --color1: #FAEBD7;
  --color2: #E63946;
  --color3: #F1FAEE;
  --color4: #A8DADC;
  --color5: #457B9D;
  --color6: #1D3557; }

.palette1 {
  --color1: #FAEBD7;
  --color2: #E63946;
  --color3: #F1FAEE;
  --color4: #A8DADC;
  --color5: #457B9D;
  --color6: #1D3557; }

.palette1 {
  --color1: #FAEBD7;
  --color2: #E63946;
  --color3: #F1FAEE;
  --color4: #A8DADC;
  --color5: #457B9D;
  --color6: #1D3557; }

.palette1 {
  --color1: #FAEBD7;
  --color2: #E63946;
  --color3: #F1FAEE;
  --color4: #A8DADC;
  --color5: #457B9D;
  --color6: #1D3557; }

.palette1 {
  --color1: #FAEBD7;
  --color2: #E63946;
  --color3: #F1FAEE;
  --color4: #A8DADC;
  --color5: #457B9D;
  --color6: #1D3557; }

.palette1 {
  --color1: #FAEBD7;
  --color2: #E63946;
  --color3: #F1FAEE;
  --color4: #A8DADC;
  --color5: #457B9D;
  --color6: #1D3557; }

.palette1 {
  --color1: #FAEBD7;
  --color2: #E63946;
  --color3: #F1FAEE;
  --color4: #A8DADC;
  --color5: #457B9D;
  --color6: #1D3557; }

.palette1 {
  --color1: #FAEBD7;
  --color2: #E63946;
  --color3: #F1FAEE;
  --color4: #A8DADC;
  --color5: #457B9D;
  --color6: #1D3557; }

.palette1 {
  --color1: #FAEBD7;
  --color2: #E63946;
  --color3: #F1FAEE;
  --color4: #A8DADC;
  --color5: #457B9D;
  --color6: #1D3557; }

.verde {
  --cor: #FE9833; }

body {
  display: grid;
  grid-template-rows: 80px 1fr 80px;
  grid-template-columns: 1fr minmax(200px, 960px) 1fr;
  background: var(--color3); }

.hourglass {
  grid-template-areas: "header header header" ". main ." "footer footer footer"; }

.sandwich {
  grid-template-areas: ". header ." ". main ." ". footer ."; }

> * {
  display: flex;
  justify-content: left;
  align-items: center; }

header {
  background: var(--color4);
  grid-area: header; }

main {
  background: var(--color1);
  grid-area: main; }

footer {
  background: var(--color2);
  grid-area: footer; }

nav {
  background: var(--color5);
  grid-area: nav; }

.cols1 {
  --cols: 1; }

.cols2 {
  --cols: 2; }

.cols3 {
  --cols: 3; }

.cols4 {
  --cols: 4; }

body {
  margin: 0; }

main > div {
  background: cyan; }

button {
  border-radius: 6px; }

.progress-bar {
  margin: auto;
  width: 480px;
  background: black;
  padding: 2px;
  margin-bottom: 10px; }

.progress-bar, .progress-bar > div {
  border-radius: 6px; }

.progress-bar > div {
  width: 70%;
  height: 60px;
  background-repeat: repeat;
  box-shadow: 0px 0px 2px 3px black inset; }

.bar1 {
  background-image: linear-gradient(to right, transparent 46px, black 4px), linear-gradient(to bottom, black, lime 5%, transparent), linear-gradient(to top, black, Chartreuse 5%);
  background-size: 50px 100%; }

.bar2 {
  background-image: linear-gradient(to bottom, black, FireBrick 12%, transparent), linear-gradient(to top, black, Red 12%);
  background-size: 100% 100%; }

.bar3 {
  background-image: linear-gradient(to bottom, black, transparent 12%, transparent 88%, black 100%), linear-gradient(to bottom, DarkOrange 48%, Orange 52%);
  background-size: 100% 100%; }

.bar4 {
  background-image: linear-gradient(to bottom, black, transparent 5%, transparent 95%, black 100%), linear-gradient(60deg, SteelBlue 29%, transparent 31%, transparent 59%, SteelBlue 61%, SteelBlue 100%), linear-gradient(to bottom, LightSkyBlue, DeepSkyBlue);
  background-size: 80px 100%; }

.bar5 {
  background-image: linear-gradient(to bottom, black, transparent 12%, transparent 88%, black 100%), linear-gradient(to right, Gold, Yellow, Gold);
  background-size: 100%, 100px; }

.bar6 {
  background-image: linear-gradient(to bottom, black, transparent 12%, transparent 88%, black 100%), linear-gradient(to right, DarkCyan, Cyan);
  background-size: 100%, 100%; }

.bar7 {
  background-image: linear-gradient(to bottom, black, transparent 12%, transparent 88%, black 100%), linear-gradient(to right, Purple, Blue, Aqua, Green, Yellow, Orange, Red);
  background-size: 100%, 100%; }

.bar8 {
  background-image: linear-gradient(to bottom, black, transparent 12%, transparent 88%, black 100%), linear-gradient(to left, Silver, Silver 19px, transparent 20px, transparent 100%), linear-gradient(to right, BlueViolet, Indigo 50%, BlueViolet 100%);
  background-size: 100%, 100%; }

/*# sourceMappingURL=main.css.map */
