body {
  header {
    header {
      background-color: var(--color4);
      color: white;
      .search {
        input, button {
          border: 2px solid white;
        }
        input{

        }
        button {
            background-color: var(--color4);
        }
      }
    }
    nav {
      border-bottom: 2px solid #e5e5e5;
      ul {
        li {
        }
        li:hover {
          background-color: #f7f7f7;
        }
      }
    }
  }
  main {

  }
  footer {
    background: var(--color4);
  }
}
