.colorful {
  --background-items-cl: var(--background-items-colorful);
  --color-items-cl: var(--color-items-colorful);

  --background-items-dh: var(--background-items-colorful);
  --color-items-dh: var(--color-items-colorful);
}
