//http://fontpair.co



@import url('https://fonts.googleapis.com/css?family=Cabin:400,700|Old+Standard+TT:400,400i,700');
.jabuti, .fonts1 {
  --font-title: 'Cabin', sans-serif;
  --font-text: 'Old Standard TT', serif;
}

@import url('https://fonts.googleapis.com/css?family=Average|Fjalla+One');
.buffalo, .fonts2 {
  --font-title: 'Fjalla One', sans-serif;
  --font-text: 'Average', serif;
}

@import url('https://fonts.googleapis.com/css?family=Istok+Web:400,700|Lora:400,400i,700');
.anteater, .fonts3 {
  --font-title: 'Istok Web', sans-serif;
  --font-text: 'Lora', serif;
}

.ounce, .fonts4 {

}
