.monochrome {
  --background-items-cl: var(--background-items-mono-cl);
  --color-items-cl: var(--color-items-mono-cl);

  --background-items-dh: var(--background-items-mono-dh);
  --color-items-dh: var(--color-items-mono-dh);
}
