.palette15 {
  --color1: #FAEBD7; //oldwhite
  --color2: #E63946; //desire
  --color3: #F1FAEE; //honeydew
  --color4: #A8DADC; //lightblue
  --color5: #457B9D; //queenblue
  --color6: #1D3557; //spacecadet
}
