@import url("https://fonts.googleapis.com/css?family=Cabin:400,700|Old+Standard+TT:400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Average|Fjalla+One");
@import url("https://fonts.googleapis.com/css?family=Istok+Web:400,700|Lora:400,400i,700");
.jabuti, .fonts1 {
  --font-title: 'Cabin', sans-serif;
  --font-text: 'Old Standard TT', serif; }

.buffalo, .fonts2 {
  --font-title: 'Fjalla One', sans-serif;
  --font-text: 'Average', serif; }

.anteater, .fonts3 {
  --font-title: 'Istok Web', sans-serif;
  --font-text: 'Lora', serif; }

:root {
  --tv-width: 1200px;
  --pc-width: 992px;
  --tablet-width: 768px; }

:root {
  --color-title: #333;
  --color-text: #444; }

.palette1 {
  --color1-hue: 355;
  --color1-saturation: 78%;
  --color1-lightness: 56%;
  --color1: hsl(var(--color1-hue), var(--color1-saturation), var(--color1-lightness));
  --color1-hex: #E63946;
  --color2-hue: 105;
  --color2-saturation: 55%;
  --color2-lightness: 96%;
  --color2: hsl(var(--color2-hue), var(--color2-saturation), var(--color2-lightness));
  --color2-hex: #F1FAEE;
  --color3-hue: 182;
  --color3-saturation: 43%;
  --color3-lightness: 76%;
  --color3: hsl(var(--color3-hue), var(--color3-saturation), var(--color3-lightness));
  --color3-hex: #A8DADC;
  --color4-hue: 203;
  --color4-saturation: 39%;
  --color4-lightness: 44%;
  --color4: hsl(var(--color4-hue), var(--color4-saturation), var(--color4-lightness));
  --color4-hex: #457B9D;
  --color5-hue: 215;
  --color5-saturation: 50%;
  --color5-lightness: 23%;
  --color5: hsl(var(--color5-hue), var(--color5-saturation), var(--color5-lightness));
  --color5-hex: #1D3557; }

.palette10 {
  --color1: #FAEBD7;
  --color2: #E63946;
  --color3: #F1FAEE;
  --color4: #A8DADC;
  --color5: #457B9D;
  --color6: #1D3557; }

.palette11 {
  --color1: #FAEBD7;
  --color2: #E63946;
  --color3: #F1FAEE;
  --color4: #A8DADC;
  --color5: #457B9D;
  --color6: #1D3557; }

.palette12 {
  --color1: #FAEBD7;
  --color2: #E63946;
  --color3: #F1FAEE;
  --color4: #A8DADC;
  --color5: #457B9D;
  --color6: #1D3557; }

.palette13 {
  --color1: #FAEBD7;
  --color2: #E63946;
  --color3: #F1FAEE;
  --color4: #A8DADC;
  --color5: #457B9D;
  --color6: #1D3557; }

.palette14 {
  --color1: #FAEBD7;
  --color2: #E63946;
  --color3: #F1FAEE;
  --color4: #A8DADC;
  --color5: #457B9D;
  --color6: #1D3557; }

.palette15 {
  --color1: #FAEBD7;
  --color2: #E63946;
  --color3: #F1FAEE;
  --color4: #A8DADC;
  --color5: #457B9D;
  --color6: #1D3557; }

.palette16 {
  --color1: #FAEBD7;
  --color2: #E63946;
  --color3: #F1FAEE;
  --color4: #A8DADC;
  --color5: #457B9D;
  --color6: #1D3557; }

.palette17 {
  --color1: #FAEBD7;
  --color2: #E63946;
  --color3: #F1FAEE;
  --color4: #A8DADC;
  --color5: #457B9D;
  --color6: #1D3557; }

.palette18 {
  --color1: #FAEBD7;
  --color2: #E63946;
  --color3: #F1FAEE;
  --color4: #A8DADC;
  --color5: #457B9D;
  --color6: #1D3557; }

.palette19 {
  --color1: #FAEBD7;
  --color2: #E63946;
  --color3: #F1FAEE;
  --color4: #A8DADC;
  --color5: #457B9D;
  --color6: #1D3557; }

* {
  box-sizing: border-box; }

img {
  background: gainsboro; }

body {
  color: var(--black);
  font-family: var(--font-title);
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr minmax(200px, var(--pc-width)) 1fr; }

article {
  font-family: var(--font-text); }

h1.center,
h2.center,
h3.center,
h4.center,
h5.center,
h6.center,
p.center {
  text-align: center; }

body > header {
  z-index: 2;
  width: 100%;
  grid-area: header;
  display: grid;
  grid-template-areas: "header-header" "header-nav"; }
  body > header > header {
    grid-area: header-header;
    display: grid;
    grid-template-areas: ". content .";
    grid-template-columns: 1fr minmax(200px, var(--pc-width)) 1fr; }
    body > header > header .content {
      grid-area: content;
      display: grid;
      grid-template-columns: auto 1fr auto;
      grid-template-areas: "brand search user"; }
      body > header > header .content > section, body > header > header .content section > form {
        display: flex;
        align-items: center;
        margin: 0 2px;
        justify-content: center; }
      body > header > header .content .brand {
        grid-area: brand; }
      body > header > header .content .search {
        grid-area: search;
        margin: 0 18px; }
        body > header > header .content .search form {
          width: 100%; }
          body > header > header .content .search form input, body > header > header .content .search form button {
            height: 40px; }
          body > header > header .content .search form input {
            width: 100%;
            max-width: 500px; }
      body > header > header .content .user {
        grid-area: user;
        justify-content: flex-end; }
        body > header > header .content .user img {
          width: 40px;
          height: 40px;
          margin: 0 4px; }
      body > header > header .content .logo {
        width: 40px;
        height: 40px;
        margin: 0 6px 0 0; }
    @media (max-width: 992px) {
      body > header > header .content {
        padding: 0 6px; } }
  body > header nav {
    grid-area: header-nav;
    display: grid;
    grid-template-areas: ". nav-content .";
    grid-template-columns: 1fr minmax(200px, var(--pc-width)) 1fr; }
    body > header nav ul {
      grid-area: nav-content;
      padding: 0;
      margin: 0;
      display: flex; }
      body > header nav ul li {
        flex-basis: 100%;
        list-style: none;
        padding: 8px 0;
        text-align: center; }
      body > header nav ul li:hover {
        display: block; }
  body > header a {
    text-decoration: none; }

main {
  display: grid;
  grid-area: main;
  color: var(--color-text); }
  main h1, main h2, main h3, main h4, main h5, main h6 {
    color: var(--color-title); }
  main header {
    grid-area: main-header; }
  main aside {
    grid-area: main-aside; }
    main aside h1, main aside h2, main aside h3, main aside h4, main aside h5, main aside h6 {
      margin: 4px 0; }
    main aside ul {
      list-style: none;
      padding: 6px 0;
      margin: 0;
      flex-wrap: wrap; }
      main aside ul li a {
        padding: 2px 12px;
        text-decoration: none; }
  main section.content {
    grid-area: main-content; }

main.quarter-header {
  grid-template-columns: minmax(170px, auto) 1fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas: "main-aside main-header" "main-aside main-content" ". main-content"; }
  main.quarter-header header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px; }
  main.quarter-header section.content {
    padding: 30px; }

footer {
  grid-area: footer;
  display: grid;
  grid-template-areas: ". footer-content .";
  grid-template-columns: 1fr minmax(200px, var(--pc-width)) 1fr; }
  footer .content {
    grid-area: footer-content; }

.cols1 {
  --cols: 1; }

.cols2 {
  --cols: 2; }

.cols3 {
  --cols: 3; }

.cols4 {
  --cols: 4; }

.hourglass {
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header header header" ". main ." "footer footer footer"; }

.sandwich {
  grid-template-areas: ". header ." ". main ." ". footer ."; }

.te {
  grid-template-areas: "header header header" ". main ." ". footer ."; }

.squared-rounded > header > header .brand img {
  border-radius: 0; }
.squared-rounded > header > header .search input {
  border-radius: 5px 0 0 5px; }
.squared-rounded > header > header .search button {
  border-radius: 0 5px 5px 0; }
.squared-rounded img {
  border-radius: 5px; }

body > main > aside {
  border-radius: 5px; }

.day, .sunrise, .sunset, .night {
  --background-items-colorful: var(--color1);
  --color-items-colorful: white; }

.day {
  --background-menu: var(--color2);
  --color-menu-cl: var(--color-title);
  --color-menu-dh: var(--color5);
  --border-menu: hsl(var(--color2-hue), calc(var(--color2-saturation) - 21%), calc(var(--color2-lightness) - 12%));
  --background-items-mono-dh: var(--color3);
  --color-items-mono-dh: white;
  --background-items-mono-cl: var(--border-menu); }

.sunrise {
  --background-menu: var(--color3);
  --color-menu-cl: var(--color-title);
  --color-menu-dh: var(--color5);
  --background-items-mono-dh: var(--color3);
  --color-items-mono-dh: white;
  --background-items-mono-cl: var(--border-menu); }

.sunset {
  --background-menu: var(--color4);
  --color-menu-cl: white;
  --color-menu-dh: white;
  --background-items-mono-dh: var(--color3);
  --color-items-mono-dh: white;
  --background-items-mono-cl: var(--color4); }

.night {
  --background-menu: var(--color5);
  --color-menu-cl: white;
  --color-menu-dh: white;
  --background-items-mono-dh: var(--color3);
  --color-items-mono-dh: white;
  --background-items-mono-cl: var(--color5); }

.monochrome {
  --background-items-cl: var(--background-items-mono-cl);
  --color-items-cl: var(--color-items-mono-cl);
  --background-items-dh: var(--background-items-mono-dh);
  --color-items-dh: var(--color-items-mono-dh); }

.colorful {
  --background-items-cl: var(--background-items-colorful);
  --color-items-cl: var(--color-items-colorful);
  --background-items-dh: var(--background-items-colorful);
  --color-items-dh: var(--color-items-colorful); }

body header header {
  background-color: var(--background-menu);
  border-bottom: 1px solid var(--border-menu); }
body main aside a {
  color: var(--color-title); }
body footer {
  background-color: var(--background-menu);
  border-top: 1px solid var(--border-menu); }

.light {
  --gray: #e5e5e5;
  --light-gray: #f7f7f7; }
  .light header header {
    color: var(--color-menu-cl); }
    .light header header .search input, .light header header .search button {
      border: 2px solid var(--border-menu, white); }
    .light header header .search button {
      background-color: var(--background-items-cl);
      color: var(--color-items-cl); }
  .light header nav {
    background-color: white;
    border-bottom: 2px solid var(--gray); }
    .light header nav ul li a {
      color: var(--color-title); }
    .light header nav ul li:hover {
      background-color: var(--light-gray); }
  .light main aside {
    border: 1px solid var(--gray); }
    .light main aside h1, .light main aside h2, .light main aside h3, .light main aside h4, .light main aside h5, .light main aside h6 {
      border-bottom: 1px solid var(--gray); }
  .light footer {
    color: var(--color-menu-cl); }

button {
  font-weight: bold; }

.progress-bar {
  margin: auto;
  width: 480px;
  background: black;
  padding: 2px;
  margin-bottom: 10px; }

.progress-bar, .progress-bar > div {
  border-radius: 6px; }

.progress-bar > div {
  width: 70%;
  height: 60px;
  background-repeat: repeat;
  box-shadow: 0px 0px 2px 3px black inset; }

.bar1 {
  background-image: linear-gradient(to right, transparent 46px, black 4px), linear-gradient(to bottom, black, lime 5%, transparent), linear-gradient(to top, black, Chartreuse 5%);
  background-size: 50px 100%; }

.bar2 {
  background-image: linear-gradient(to bottom, black, FireBrick 12%, transparent), linear-gradient(to top, black, Red 12%);
  background-size: 100% 100%; }

.bar3 {
  background-image: linear-gradient(to bottom, black, transparent 12%, transparent 88%, black 100%), linear-gradient(to bottom, DarkOrange 48%, Orange 52%);
  background-size: 100% 100%; }

.bar4 {
  background-image: linear-gradient(to bottom, black, transparent 5%, transparent 95%, black 100%), linear-gradient(60deg, SteelBlue 29%, transparent 31%, transparent 59%, SteelBlue 61%, SteelBlue 100%), linear-gradient(to bottom, LightSkyBlue, DeepSkyBlue);
  background-size: 80px 100%; }

.bar5 {
  background-image: linear-gradient(to bottom, black, transparent 12%, transparent 88%, black 100%), linear-gradient(to right, Gold, Yellow, Gold);
  background-size: 100%, 100px; }

.bar6 {
  background-image: linear-gradient(to bottom, black, transparent 12%, transparent 88%, black 100%), linear-gradient(to right, DarkCyan, Cyan);
  background-size: 100%, 100%; }

.bar7 {
  background-image: linear-gradient(to bottom, black, transparent 12%, transparent 88%, black 100%), linear-gradient(to right, Purple, Blue, Aqua, Green, Yellow, Orange, Red);
  background-size: 100%, 100%; }

.bar8 {
  background-image: linear-gradient(to bottom, black, transparent 12%, transparent 88%, black 100%), linear-gradient(to left, Silver, Silver 19px, transparent 20px, transparent 100%), linear-gradient(to right, BlueViolet, Indigo 50%, BlueViolet 100%);
  background-size: 100%, 100%; }

.express header nav ul {
  justify-content: flex-end; }
  .express header nav ul li {
    flex-basis: auto; }
.express header header .brand {
  text-align: center; }
  .express header header .brand a span {
    width: 166px;
    display: block; }
  .express header header .brand a .slogan {
    font-size: 11px; }

/*# sourceMappingURL=main.css.map */
