body {
  margin: 0;
  min-height: 100vh;
}

body {
  display: grid;
  grid-template-columns: 1fr minmax(200px, var(--pc-width)) 1fr;

}

.hourglass {
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
  "header header header"
  ". main ."
  "footer footer footer";
}

.sandwich {
  grid-template-areas:
  ". header ."
  ". main ."
  ". footer .";
}

.sandwich.nav {
  grid-template-areas:
  ". header ."
  ". nav ."
  ". main ."
  ". footer .";
}
