body {
  margin: 0;
  background: var(--color6);
  min-height: 100vh;
}

body, body > header, body > footer, body > nav {
  display: grid;
  grid-template-columns: 1fr minmax(200px, var(--pc-width)) 1fr;

}

.hourglass {
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
  "header header header"
  ". main ."
  "footer footer footer";
}

.hourglass.nav {
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
  "header header header"
  "nav nav nav"
  ". main ."
  "footer footer footer";
}

.sandwich {
  grid-template-areas:
  ". header ."
  ". main ."
  ". footer .";
}

.sandwich.nav {
  grid-template-areas:
  ". header ."
  ". nav ."
  ". main ."
  ". footer .";
}
