footer {  
  grid-area: footer;
  display: grid;
  grid-template-areas: ". footer-content .";
  grid-template-columns: 1fr minmax(200px, var(--pc-width)) 1fr;

  .content {
    grid-area: footer-content;
  }
}
