body {
  // height: 100vh;
  // grid-template-rows: auto 1fr 80px;
  background: var(--color6);
}

body, body > header, body > footer {
  display: grid;
  grid-template-columns: 1fr minmax(200px, 960px) 1fr;
}

.hourglass {
  grid-template-areas:
  "header header header"
  ". main ."
  "footer footer footer";
}

.sandwich {
  grid-template-areas:
  ". header ."
  ". main ."
  ". footer .";
}



header {
  background: var(--color4);
  grid-area: header;
}

main {
  background: var(--color3);
  grid-area: main;
}

footer {
  background: var(--color2);;
  grid-area: footer;
}

nav {
  background: var(--color5);
  grid-area: nav;
}
