.clear {
  color: var(--black);
  header {
    header {
      background-color: var(--color3);
      color: white;
      .search {
        input{
        }
        button {
          background-color: var(--color1);
        }
      }
    }
    nav {
      ul {
        li {

          a {
            color: var(--black);
          }
        }
        li:hover {
          background-color: var(--light-gray);
        }
      }
    }
  }
  main {
    aside {
      border: 1px solid var(--gray);

      h1, h2, h3, h4, h5, h6 {
        margin: 0;
        padding: 4px 12px;
        border-bottom: 1px solid var(--gray);
      }

      ul {


        li {

          a {
            color: var(--black);
          }
        }

        li:hover {

          a {
            color: var(--color4);
            font-weight: 700;
          }
        }
      }
    }
  }
  footer {
    background: var(--color4);
  }
}
