.sunset {
  //--color-menu-cl: var(--color-title);
  //--background-items-mono-dh: var(--color4);

  --background-menu: var(--color4);
  --color-menu-cl: white;
  --color-menu-dh: white;
  //--border-menu: hsl(var(--color2-hue), calc(var(--color2-saturation) - 21%), calc(var(--color2-lightness) - 12%));

  --background-items-mono-dh: var(--color3);
  --color-items-mono-dh: white;

  --background-items-mono-cl: var(--color4);
  //--color-items-mono-cl: ;
}
